header{
  background-color: green;
  width: 960px;
  /* height: 100px; */
  height: auto;

  border-style: solid;
  border-width: 0px 0px 5px 0px;

  margin: -20px auto 30px auto;
  /* if you use auto, you need to have a width dimension on the area */
}

main{
  background-color: orange;

  width: 910px; /* width adjusted for padding and border */
  height: auto;

  padding: 20px;
  /* padding-top: 20px; */
  /* can individually adjust padding */
  /* padding: 20px 20 px 20 px 20px; top right bottom left */

  border-width: 5px;
  border-style: groove;
  border-color: green;

  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  /* trick to put area in center of page */
}

footer{
  background-color: skyblue;
  width: 960px;
  height: 100px;
  /* can't use auto height for footer or it will collapse on itself with no info */

  margin: 0px auto;
  /* top + bottom, left + right */
}

nav{
  background-color: skyblue;
  width: 400px;
  margin: 0 auto;
}

nav ul{

}

nav ul li{
  list-style: none;
  display: inline-block; /* puts text next to each other */
  margin-right: 20px;
  padding: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav ul li:hover{
  background-color: white;
}

#grid1{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 200px 580px;
  grid-column-gap: 20px;
}

#grid2{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 390px 390px;
  grid-column-gap: 20px;
}

#grid2 img{
  width: 300px;
  margin: 0 auto;
  display: block;
  /* display block makes the img tag independent and centers it for mobile */
}

#Hobbies{
  width: 800px;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}

#Hobbies img{
  width: 500px;
}
