header{
  /* background-color: grey; */
  width: 950px;
  height: auto;
  margin: 0 auto;
  margin-bottom: -10px;
  border-style: solid;
  border-spacing: 5px;
  border-width: 0 0 3px 0;
}

main{
  /* background-color: grey; */
  width: 910px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-style: solid;
  border-spacing: 5px;
  border-width: 0 0 3px 0;
}

footer{
  /* background-color: skyblue; */
  width: 800px;
  height: auto;
  margin: 0px auto;
  padding: 0 75px;
}

#Home{
  text-align: center;
}

.Title{
  text-align: center;
}

nav{
  background-color: black;
  width: 600px;
  margin: 0 auto;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  padding: 8px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul li:hover{
  background-color: grey;
}

#grid1{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
  /* grid-column-gap: 20px; */
}

#grid2{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
}

#grid2 img{
  width: 240px;
  margin: 0 auto;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  /* box-shadow: 10px 10px; */
}

#grid2 p{
  text-align: center;
}

#grid3{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 20px;
}

#grid3 img{
  width: 240px;
}

#grid4{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
}

#grid4 img{
  width: 380px;
  margin: 0 auto;
}

#grid4 p{
  text-align: center;
}
